#map {
    height: 90vh;
    width: 80%;
}
/*
@media (max-width: 768px) {
    #map {
        height: 70vh;
        width: 100%;
    }
}
.custom-popup .leaflet-popup-content-wrapper {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.custom-popup .leaflet-popup-content {
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.custom-popup h3 {
}
.custom-popup img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
} */